h2 {
  margin: 0 0 5px 0;
  color: #bebece;
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 700;
}

h3 {
  margin: 0;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #2b2b3d;
}

h4 {
  margin: 10px 0 0;
  line-height: 1;
  font-size: 15px;
  font-weight: 500;
  color: #2b2b3d;
}

time {
  color: #888888;
  font-size: 85%;
}

article {
  margin-bottom: 40px;
}
