@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700");

@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap-reboot.min.css");

@page {
  margin: 0;
}

* {
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}


.ember-application {
  font-family: "Hind", sans-serif;

  margin: 0;

  @media screen and (min-width: 600px) {
    overscroll-behavior-y: none;
  }
}
