<div id="blog">
  {{#each model as |post|}}
    <article>
      <small>{{moment-format post.published "MMMM DD, YYYY"}}</small>
      <h2>{{post.title}}</h2>

      {{{post.content}}}
    </article>
  {{/each}}
</div>